*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.logo h1{
    font-family: Arial, Helvetica, sans-serif;
}
 .menuicon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    gap: 20px;
 }
 .menuicon img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
 }
 .menuwork{
    display: none;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    cursor: pointer;
 }
 
 .closeicone{
    display: none;
    width: 30px;

 }
 .closeicone img{
width: 100%;
 }
    /* .menuwork{
        flex-direction: column;
        width: 80%;
        position: absolute;
        top: 0;
        right: 0;
         height: 100%;
         align-items: flex-start;
         justify-content: flex-start;
         padding: 20px;
         font-family: Arial, Helvetica, sans-serif;
         background-color: #ae4a4a;
         display: flex;
    } */

    .closeicone{
        display: inline;
        
    }
    .show{
        display: flex;
        transition: show;
        transition-duration: 0.1s;
        animation-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transform-origin: right;
        background-color: #f8f5f5;
        flex-direction: column;
        width: 50%;
        height: 80%;
        position: absolute;
        top: 0;
        right: 0;
        /* z-index: 1;
        position: fixed; */
    }
 @keyframes show {
     from{
        transform: scaleX(0);
     }
     to{
        transform: scaleX(1);
     }
 }